server {
    listen               80;
    listen               [::]:80;
    server_name          {{ server_name }};

    root {{ app_path }}/public;

    passenger_enabled        on;
    passenger_ruby           {{ ruby_path.stdout }};
    passenger_min_instances  5;
}

passenger_pre_start http://localhost/ping;
