#
# PostgreSql

default: &default
  adapter: postgresql
  encoding: utf8
  username: {{ db_rails_username }}
  password: {{ db_rails_password }}
  pool: 5
  timeout: 5000
  host: {{ main_db_server }}
  port: {{ db_rails_port }}

development:
  <<: *default
  database: {{ db_rails_name }}_dev

test:
  <<: *default
  database: {{ db_rails_name }}_test

production:
  <<: *default
  database: {{ db_rails_name }}
